[submodule "src/Plugin"]
	path = src/Plugin
	url = https://github.com/hfz-r/Broadcast-Plugin
	branch = dev
[submodule "src/Broadcast/ClientApp"]
	path = src/Broadcast/ClientApp
	url = https://github.com/hfz-r/Broadcast-Frontend
	branch = dev
