[submodule "src/Plugin"]
	path = src/Plugin
	url = http://bj-tfs-dev:8080/tfs/DefaultCollection/Broadcast/_git/Broadcast-Plugin
	branch = dev
[submodule "src/Broadcast/ClientApp"]
	path = src/Broadcast/ClientApp
	url = http://bj-tfs-dev:8080/tfs/DefaultCollection/Broadcast/_git/Broadcast-Frontend
	branch = dev
